<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GraphicTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GraphicTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GraphicTool.Properties.Settings>
            <setting name="DISPLAYMODE" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RECENTFILES" serializeAs="String">
                <value />
            </setting>
            <setting name="SHOWDISPLAYINFO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DESKTOPBOUNDS" serializeAs="String">
                <value>10;10;800;800</value>
            </setting>
            <setting name="SHOWSAVEIMAGETOBACKGROUNDWARNING" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RECTANGLE" serializeAs="String">
                <value>&lt;Shape Type="Rectangle" TextAlign="left" VerticalAlign="top" PaddingLeft="5" PaddingBottom="0" PaddingRight="0" PaddingTop="5" X="5" Y="5" Width="50" Height="50" LineColor="#ff0000" LineWidth="2" Transparency="0" ShapeTimeSpan="10000" Right="0" Bottom="0" Left="5" Top="5" BackgroundColor="transparent" Color="Black" FontWeight="normal" FontStyle="normal" FontFamily="Segoe UI" FontSize="10pt" Underline="false"/&gt;</value>
            </setting>
            <setting name="OVAL" serializeAs="String">
                <value>&lt;Shape Type="Oval" TextAlign="left" VerticalAlign="top" PaddingLeft="5" PaddingBottom="0" PaddingRight="0" PaddingTop="5" X="5" Y="5" Width="40" Height="40" ShapeTimeSpan="10000" Right="5" Bottom="0" LineColor="#ff0000" LineWidth="2" Transparency="0" Rotate="0" Anchors="" FontWeight="normal" FontStyle="normal" FontFamily="Segoe UI" FontSize="10pt" Underline="false"  Color="Black" Left="0" Top="5"/&gt;</value>
            </setting>
            <setting name="POLYLINE" serializeAs="String">
                <value>&lt;Shape Type="Polyline" Coordinates="10,10,50,50" ArrowHeadColor="#ff0000" ArrowTailColor="#ff0000" BackgroundColor="#ff0000" BackgroundColorAlt="#ff0000" LineColor="#ff0000" LineWidth="2" VerticalAlign="4" TextAlign="1" PaddingLeft="5" PaddingBottom="0" PaddingRight="0" PaddingTop="5" Conditions=""/&gt;</value>
            </setting>
            <setting name="RECENTXPATHS" serializeAs="String">
                <value />
            </setting>
            <setting name="COLORS" serializeAs="String">
                <value>#308784;#1d5251;#59d396;#2fa567;#88b720;#628406;#208220;#0b540b;#5ec1e9;#359cbc;#5d8cc2;#306191;#3661a3;#1e457c;#7c67a3;#584877;#f4b425;#c68709;#ef890f;#c66a05;#e56469;#ba363f;#e56493;#b7376c;#8c8c8c;#666666;#636363;#4d4d4d;#ffffff;#dddddd;#000000;#555555;transparent</value>
            </setting>
            <setting name="TEXTBOX" serializeAs="String">
                <value>&lt;Shape Type="Rectangle" TextAlign="left" VerticalAlign="top" PaddingLeft="5" PaddingBottom="0" PaddingRight="0" PaddingTop="5" X="5" Y="5" Width="50" Height="50" LineColor="#000000" LineWidth="0" BackgroundColor="#FFFFFF" FontFamily="Segoe UI" FontSize="10" FontStyle="normal" Color="Black" FontWeight="normal" Underline="false" Strikeout="false"/&gt;</value>
            </setting>
        </GraphicTool.Properties.Settings>
        <GraphicTest.Properties.Settings>
            <setting name="DISPLAYMODE" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RECENTFILES" serializeAs="String">
                <value />
            </setting>
            <setting name="SHOWDISPLAYINFO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DESKTOPBOUNDS" serializeAs="String">
                <value>10;10;800;800</value>
            </setting>
            <setting name="SHOWSAVEIMAGETOBACKGROUNDWARNING" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RECTANGLE" serializeAs="String">
                <value>Type="Rectangle" TextAlign="left" VerticalAlign="top" PaddingLeft="5" PaddingBottom="0" PaddingRight="0" PaddingTop="5" X="5" Y="5" Width="50" Height="50" LineColor="#ff0000" LineWidth="2" Transparency="0" ShapeTimeSpan="10000" Right="0" Bottom="0" Left="5" Top="5" BackgroundColor="transparent" Color="Black" FontWeight="normal" FontStyle="normal" FontFamily="Segoe UI" FontSize="10pt" Underline="false" </value>
            </setting>
            <setting name="OVAL" serializeAs="String">
                <value>Type="Oval" TextAlign="left" VerticalAlign="top" PaddingLeft="5" PaddingBottom="0" PaddingRight="0" PaddingTop="5" X="5" Y="5" Width="40" Height="40" ShapeTimeSpan="10000" Right="5" Bottom="0" LineColor="#ff0000" LineWidth="2" Transparency="0" Rotate="0" Anchors="" FontWeight="normal" FontStyle="normal" FontFamily="Segoe UI" FontSize="10pt" Underline="false"  Color="Black" Left="0" Top="5"</value>
            </setting>
            <setting name="POLYLINE" serializeAs="String">
                <value>Type="Polyline" Coordinates="10,10,50,50" ArrowHeadColor="#ff0000" ArrowTailColor="#ff0000" BackgroundColor="#ff0000" BackgroundColorAlt="#ff0000" LineColor="#ff0000" LineWidth="2" VerticalAlign="4" TextAlign="1" PaddingLeft="5" PaddingBottom="0" PaddingRight="0" PaddingTop="5" Conditions=""</value>
            </setting>
            <setting name="RECENTXPATHS" serializeAs="String">
                <value />
            </setting>
        </GraphicTest.Properties.Settings>
    </userSettings>
</configuration>